section {
    padding-inline: 15vw;
    padding-block: 15px;
}

section:nth-child(odd) {
    background-color: var(--primary-color);
    color: white;
}

input[type=text], textarea{
    padding: 7px;
    margin: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}

textarea {
    resize: none;
}

input[type=text]:focus {
    outline: none;
    border: 2px solid var(--primary-color);
}

input[type="radio"] + fieldset {
    display: none;
}

input[type="radio"] + fieldset {
    display: none;
  }
  
input[type="radio"]:checked + fieldset {
    display: block;
}

input[type="radio"] {
    visibility: hidden;
}

fieldset {
    position: relative;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding-inline: 75px;
}

fieldset div {
    display: grid;
    grid-template-columns: 50px auto 50px;
    min-height: 30vh;
}

.next {
    grid-column: 3;
}

.prev {
    grid-column: 1;
}

.form-content {
    grid-column: 2;
    display: flex;
    flex-direction: column;
}

.prev, .next {
    align-self: center;
    height: fit-content;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    border-radius: 5000px;
    font-weight: bold;
    font-size: 2em;
}

@media (max-width: 750px) {
    form {
        grid-template-columns: repeat(1, 1fr);
    }

    .col-1, .col-2, .col-3 {
        grid-column-start: 1;
        grid-column-end: 1;
    }
}