body {
    min-height: 100vh;
    background-color: #d5d5d5;
}

section {
    padding-inline: 15vw;
}

i {
    color: var(--primary-color);
    font-size: 6.5vw;
}

img {
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.landing {
    background: var(--primary-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.landing > * {
    animation: fadeIn 500ms;
}

.welcome {
    background-color: white;
    position: relative;
    margin-inline: 15vw;
    padding: 20px;
    text-align: center;
    height: 100px;
    top: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
}

.icons p {
    margin: 10px;
    font-weight: bold;
    font-size: 1.5em;
    color: var(--primary-color);
}

.info {
    padding-block: 20px;
    color: white;
    background-color: var(--primary-color);
    display: flex;
}

.info > * {
    padding: 10px;
    width: 100%;
}

.info .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.info img {
    border-radius: 50%;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.beurs {
    background-color: var(--primary-color);
    color: white;
    padding-block: 10px;
    margin-block: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beurs > * {
    width: 100%;
}

.beurs img {
    width: 20vw;
    border-radius: 15px;
}

.beurs .list {
    margin-block: 10px;
    padding: 10px;
    color: black;
    background-color: white;
    border-radius: 15px;
    display: grid;
    justify-content: start;
    width: 75%;
}

.beurs .list ul {
    margin: 0;
    list-style-type: "- ";
    padding-inline: 20px;
}

.look {
    margin-block: 20px;
    display: grid;
    justify-content: center;
    text-align: center;
}

.look a {
    display: flex;
    justify-self: center;
    width: fit-content;
}

@media (max-width: 1024px) {
    body {
        background-color: white;
    }

    i {
        font-size: 3em;
    }

    .welcome {
        position: static;
        top: 0;
        background-color: inherit;
        border-radius: 0;
        box-shadow: none;
    }

    .info img {
        width: 100%;
    }

    .beurs .list {
        background-color: var(--primary-color);
        color: white;
        width: 100%;
    }

    .beurs img {
        width: 35%;
    }
}

@media (max-width: 480px) {
    .text {
        text-align: center;
    }

    .icons {
        flex-direction: column;
        gap: 30px;
    }

    .info {
        flex-direction: column;
    }
    
    .info img {
        border-radius: 15px;
        width: 40%;
    }

    .beurs {
        flex-direction: column;
    }

    .beurs img {
        width: 100%;
        margin-block: 10px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        filter: blur(5px);
        translate: 0 -10px;
    }

    to {
        opacity: 1;
        filter: blur(0px);
        translate: 0 0;
    }
}