@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@500&family=Roboto:wght@300&display=swap');

:root {
    --primary-font: "Reem Kufi Fun";
    --secondary-font: "Roboto";

    --primary-color: #FF017E; 
    --primary-color-dark: #880044;

    --header-inline-padding: 15px;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
    padding: 0;
    margin: 0;
}

p, li, th, td, i {
    font-family: var(--secondary-font);
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-color);
    color: white;
}

header ul {
    text-align: center;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

header ul li {
    padding-inline: 10px;
    display: block;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

header ul li:last-child:hover ul:not(.sublist), header ul li ul:hover:not(.sublist) {
	position: absolute;
    transition: all 0.5s ease;
    background-color: white;
	left: 0;
    display: block;
}

.sublist {
    display: none;
}

header ul li ul {
    padding: 0;
    margin: 0;
    color: black;
    display: none;
}

header ul li ul li:hover {
    background-color: var(--primary-color);
    color: white;
}

header ul li ul li:last-child:hover .sublist {
    display: block;
    position: absolute;
    left: -150px;
    background-color: white;
    width: 150px;
    top: 0;
}

header ul li ul li:last-child:hover .sublist li, header ul li ul li {
    padding: 5px;
}

header ul li ul li:last-child:hover .sublist li:hover {
    background-color: var(--primary-color);
    color: white;
}

@media (max-width: 480px) {
    header {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    header ul {
        padding: 0;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header ul li {
        width: fit-content;
        text-align: center;
        background-color: white;
        color: var(--primary-color);
        font-weight: bold;
        width: 100vw;
        padding-block: 5px;
    }

    header ul li ul li:last-child:hover {
        width: 100vw;
    }

    header .sublist {
        left: 0;
        top: 10px;
        width: 100vw;
    }

    header .sublist li {
        background-color: white;
    }

    header, header ul {
        flex-direction: column;
    }

}

/* HEADER END */

.cta {
    text-align: center;
    margin-block: 10px;
    padding-block: 10px;
    padding-inline: 0;
    margin-inline: 15vw;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
}

button, input[type=submit] {
    margin-top: 15px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 4px 30px;
    border-radius: 5px;
    box-shadow: 0 10px 0 var(--primary-color);
    translate: 0 -8px;
    transition: translate 250ms, box-shadow 250ms;
}

button.white, input[type=submit].white {
    border: 1px solid white;
    box-shadow: 0 10px 0 white;
    color: white;
    background-color: var(--primary-color);
}

button:hover, input[type=submit]:hover {
    cursor: pointer;
    translate: 0 0px;
    box-shadow: 0 2px 0 var(--primary-color-dark);
}

button.white:hover, input[type=submit].white:hover {
    border: 1px solid white;
    box-shadow: 0 2px 0 white;
}


/* FOOTER */
footer {
    padding: 2vw;
    margin: 0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    gap: 10px;
    color: white;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* FOOTER END */

.hamburger {
    margin: auto;
    display: none;
    justify-content:space-between;
    flex-direction: column;
    padding: 10px;
    height: 50px;
    width: 50px;
}

.hamburger > * {
    width: 100%;
    height: 2px;
    background-color: white;
}

.hambuger:hover ~ ul {
    display: block;
}

.hamburger:hover .middle {
    animation: removeMiddle 500ms forwards ease-in-out;
}

.hamburger:hover .top {
    animation: topper 500ms forwards ease-in-out;
}

.hamburger .bottom {
    top: 0;
    rotate: 0;
    translate: 0 0;
}

.hamburger:hover .bottom {
    /* animation: bot 500ms forwards ease-in-out; */
    translate: 0 -24px;
    rotate: -45deg;
    background-color: rgb(162, 0, 0);
    transition: all 500ms ease-in-out;
}

@keyframes removeMiddle {
    from {
        border: 2px solid white;
        background-color: white;
        position: static;
    }

    to {
        position: relative;
        height: 100%;
        width: 100%;
        background-color: transparent;
        border: 1px solid white;
    }
}

@keyframes topper {
    from {
        top: 0;
        rotate: 0;
        translate: 0 0;
    }

    to {
        translate: 0 24px;
        rotate: 45deg;
        background-color: rgb(162, 0, 0);
    }
}

@keyframes bot {
    from {
        top: 0;
        rotate: 0;
        translate: 0 0;
    }

    to {
        translate: 0 -25px;
        rotate: -45deg;
        background-color: rgb(162, 0, 0);
    }
}

@media (max-width: 750px) {
    .hamburger {
        display: flex;
    }
    
    footer {
        flex-direction: column;
        justify-content: center;
    }

    .phone {
        display: block;
    }

    .cta {
        padding-inline: 0;
        border: none;
    }
}