@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@500&family=Roboto:wght@300&display=swap');

:root {
    --primary-font: "Reem Kufi Fun";
    --secondary-font: "Roboto";

    --primary-color: #FF017E;
    --primary-color-dark: #bd005e;
}

body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
    padding: 0;
    margin: 0;
}

p, li {
    font-family: var(--secondary-font);
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

header {
    background-color: var(--primary-color);
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

header h1 {
    font-size: 2vw;
    padding: 10px;
    color: white;
}

header ul {
    display: flex;
    align-items: center;
    color: black;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header ul * {
    padding: 5px 20px;
    font-size: 18px;
    border-radius: 5px;
}

header ul li:hover:not(.current) {
    transition: 250ms background-color;
    cursor: pointer;
    color: white;
    background-color: var(--primary-color-dark);
}

header ul .current {
    color: white;
    background-color: var(--primary-color);
    cursor: default;
}

header button {
    display: none;
    outline: none;
    border: none;
    background: transparent;
}

hr {
    border-top: 1px solid var(--primary-color);
    margin-inline: 10px;
}

.phone {
    display: none;
}

@media (max-width: 1250px) {
    header h1 {
        font-size: 22px;
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 750px) {
    header {
        display: flex;
        flex-direction: column;
    }

    header ul {
        display: none;
    }

    header button:active {
        animation: headerAnimation 250ms forwards;
    }

    header button:not(:active) {
        animation: headerAnimation 250ms reverse forwards;
    }
}

.cta {
    text-align: center;
    margin-block: 10px;
    padding-block: 10px;
    padding-inline: 0;
    margin-inline: 15vw;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
}

.cta button {
    margin-top: 15px;
    border: 1px solid var(--primary-color);
    padding: 4px 30px;
    border-radius: 5px;
    box-shadow: 0 10px 0 var(--primary-color);
    translate: 0 -8px;
    transition: translate 250ms, box-shadow 250ms;
}

.cta button:hover {
    cursor: pointer;
    translate: 0 0px;
    box-shadow: 0 2px 0 var(--primary-color-dark);
}

footer {
    padding: 2vw;
    margin: 0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    color: white;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

footer .social-media li:not(:first-child) {
    display: grid;
    grid-template-columns: 30px 100px;
    justify-content: center;
    margin-bottom: 4px;
    gap: 10px;
}

footer .social-media li:not(:first-child):hover {
    font-size: 20px;
    transition: font-size 250ms;
    cursor: pointer;
}

footer ul li:first-child {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.hamburger {
    margin: auto;
    display: none;
    justify-content:space-between;
    flex-direction: column;
    height: 50px;
    width: 50px;
}

.hamburger > * {
    width: 100%;
    height: 2px;
    background-color: white;
}

.hamburger:hover > .middle {
    animation: removeMiddle 500ms forwards ease-in-out;
}

.hamburger:hover > .top {
    animation: topper 500ms forwards ease-in-out;
}

.hamburger:hover > .bottom {
    animation: bot 500ms forwards ease-in-out;
}

@keyframes removeMiddle {
    from {
        border: 2px solid white;
        background-color: white;
        position: static;
    }

    to {
        position: relative;
        height: 100%;
        width: 100%;
        background-color: transparent;
        border: 2px solid white;
    }
}

@keyframes topper {
    from {
        top: 0;
        rotate: 0;
        translate: 0 0;
    }

    to {
        translate: 0 25px;
        rotate: 45deg;
        background-color: rgb(162, 0, 0);
    }
}

@keyframes bot {
    from {
        top: 0;
        rotate: 0;
        translate: 0 0;
    }

    to {
        translate: 0 -25px;
        rotate: -45deg;
        background-color: rgb(162, 0, 0);
    }
}

@media (max-width: 750px) {
    footer {
        flex-direction: column;
    }

    .phone {
        display: block;
    }

    .cta {
        padding-inline: 0;
        border: none;
    }

    .hamburger {
        display: flex;
    }

    .hamburger:hover > header ul {
        display: block;
    }
}