section {
    padding: 15vw;
}

.grid {
    height: fit-content;
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(3, 3fr);
}

.grid > * {
    position: relative;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
}

.grid img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.grid div:nth-child(1) img {
    animation: backgroundImageAnimation 10s forwards infinite;
}

.grid div:nth-child(1) {
    animation: textAnimation 10s forwards infinite;
}



.grid div:nth-child(3) img {
    animation-delay: 5s;
    animation: backgroundImageAnimation 13s forwards infinite;
}

.grid div:nth-child(3) {
    animation-delay: 5s;
    animation: textAnimation 13s forwards infinite;
}



.grid div:nth-child(4) img {
    animation-delay: 9s;
    animation: backgroundImageAnimation 18s forwards infinite;
}

.grid div:nth-child(4) {
    animation-delay: 9s;
    animation: textAnimation 18s forwards infinite;
}



.grid div:nth-child(6) img {
    animation-delay: 2s;
    animation: backgroundImageAnimation 16s forwards infinite;
}

.grid div:nth-child(6) {
    animation-delay: 2s;
    animation: textAnimation 16s forwards infinite;
}



.grid h2, .grid h3 {
    z-index: 2;
}

section .grid .home {
    grid-area: 1 / 1 / span 2 / span 2;
    height: 100%;
}

section .grid .contact {
    grid-area: 2 / 3 / span 2 / span 2;
    height: 100%;
}

@media (max-width: 480px) {
    .grid {
        display: block;
        position: static;
    }
    
    .grid > *, section .grid .home, section .grid .contact {
        height: 100px;
        margin: 4px;
    }
}

@keyframes backgroundImageAnimation {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    60%, 100% {
        opacity: 0;
    }
}

@keyframes textAnimation {
    0% {
        color: white;
    }

    10% {
        color: var(--primary-color);
    }

    50% {
        color: var(--primary-color);
    }

    60%, 100% {
        color: white;
    }
}