section {
    padding-inline: 15vw;
    padding-block: 4px;
}
section:nth-child(even) {
    background-color: var(--primary-color);
}

section:nth-child(even) > h2 {
    color: white;
}

.packages table {
    width: 100%;
    border-collapse: collapse;
}

th {
    color: white;
}

table, th, td {
    border: 1px solid white;
}